<div class="wrap" id="navbar">
  <div class="inner">
    <a href="#/" class="logo">Sita</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="user">User</a></li>
      <li><a href="home">Home</a></li>
      <li><a href="my-calculations">Calculations</a></li>
    </ul>
    <div class="user-panel">
      <ul>
        <li class="dropdown" ng-class="{open:open}">
          <a class="dropdown-toggle" ng-click="open=!open">
            <span class="user avatar">
              <gravatar email="user.email"></gravatar>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

