<div class="wrap" id="navbar">
  <div class="inner">
    <a href="#/" class="logo">Sita</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="user">User</a></li>
      <li><a href="home">Home</a></li>
    </ul>
  </div>
  <div class="user-panel">
    <ul>
      <li class="dropdown">
        <a ng-click data-toggle="dropdown" class="dropdown-toggle">
          <span class="user avatar">
            <img src="{{ user.img }}">
          </span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

