success-color = #679E55
info-color = #ccb95f
error-color = #d54961 

nav-bg-color = #333C4E
nav-bg-color-dark = darken(nav-bg-color, 10%)
nav-txt-color = #E8ECF4
nav-txt-color-hover = lighten(nav-txt-color, 7%)
blue-grey = #778295

